@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
--color-white-bg: #EAF6FF;
--color-white-primary: #D8ECFE;
--color-white-secondary: #C4E2FF;
--color-highlights: #00C27A;
--color-black: #404040;
--color-black: #FD4755;

}
